<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">

    <title>Document</title>
</head>
<body>
<br>
<div class="container-fluid">
    <div>
        <h1> Maregrafo {{ name }} </h1>
    </div>
<br>
    <div class="row">
        <div style="width: 50%; float:left">
            <h3>Maré (m)</h3>
            {{ tideGraph | safe }}
        </div>
        <div style="width: 50%; float:right">
            <h3> Temperatura (ºC)</h3>
            {{ tempGraph | safe }}
        </div>
    </div>
</div>  
</body>
</html>